/*
* CSS override file
*/

#navbar-profile-img img {
    float: right;
    max-width: 20%;
    max-height: 20%;
}

span.red {
    color: red !important;
}

.font-sm {
    font-size: 80%;
}

.restaurant-img {
    margin-bottom: 10px;
    max-width: calc(105%);
    max-height: calc(105%);
}

.rating i {
    color: goldenrod !important;
}