{% extends 'baseplate.html' %}

{% block title %} Allergens {% endblock %}

{% block main %}
    <div class="allergens">
        {% for allergen in allergens %}
            <div class="allergen-{{allergen.id}}">
                <h1>
                    <a href="/allergens/{{allergen.id}}">{{allergen.title}}</a>
                </h1>
                <p>{{allergen.description}}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
<a class="btn btn-primary" href="{{ url_for('new_allergen') }}">Submit a New Allergen</a>
{% endblock %}