<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Base tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon made by Freepik from flaticon.com -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <!-- CSS imports -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-min.css') }}">
        <!-- Stylesheet override -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/baseplate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.min.css')}}">
        <title>{% block title %}{% endblock %}</title>
        <!-- Page scripts -->
        {% block scriptholder %}
        {% endblock %}
    </head>
    <body style="background: currentColor; width: calc(99)%;">
    <div class="alerts-holder">
        {% block alerts %}
        {% endblock %}
    </div>
    <section class="section-intro" style="
    background-image: url('static/img/v2/promo_image_1_new.jpg');
    background-repeat: no-repeat;
    background-size: cover;">
                <div class="container">
                    <!-- pusher -->
                    {% block main %}
                    {% endblock %}
                    <!-- end pusher -->
                </div>
        </section>
        <section class="section-blurb-image" style="height: 80vh;
        background-image: url('static/img/v2/promo_image_2_new.jpg');
        background-size: cover; background-color: currentColor; background-repeat: no-repeat; opacity: 0.95;">
            {% block section2 %}
            {% endblock %}
        </section>
        <section class="section-offerings">
            {% block section3 %}
            {% endblock %}
        </section>
        <section class="about-me">
            {% block section4 %}
            {% endblock %}
        </section>
        <section class="contact-form">
            {% block section5 %}
            {% endblock %}
        </section>
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
            <!-- Final imports -->
            <script src="{{ url_for('static', filename='js/jquery-min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
            <!-- Bootstrap JS -->
            <script src="{{ url_for('static', filename='js/bootstrap-bundle.js') }}"></script>
            <!-- JS Override -->
            <script src="{{ url_for('static', filename='js/core.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
            <!-- FA -->
            <script src="https://kit.fontawesome.com/9fb1ac41d1.js" crossorigin="anonymous"></script>
        </body>
</html>