{% extends 'baseplate.html' %}

{% block title %} {{cuisine.name}} cuisine (all restaurants) - Allergen Navigator {% endblock %}

{% block main %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Cuisines</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{cuisine.name}} cuisine - All Restaurants</li>
  </ol>
</nav>
<a href="/cuisine2/{{ cuisine.id - 1 }}/restaurants" style="float: right;">&larr; Previous Cuisine</a>
<br>
<a href="/cuisine2/{{cuisine.id + 1}}/restaurants" style="float: right;">&rarr; Next Cuisine</a>

<div class="cuisine-block">
    <h1>{{cuisine.name}} cuisine - All Restaurants</h1>
    <hr>
    <div class="row">
            <!-- RESTAURANT BLOCK -->
            {# https://www.shellhacks.com/jinja2-check-if-variable-empty-exists-defined-true/ #}
            {% if not restaurants|length%}
                <strong>Oops!</strong>
                <p>No restaurants available for this cuisine. <br> Why not try another?</p>
            {% endif %}

            {% for restaurant in restaurants %}
            <div class="col-sm mx-auto rounded text-center">
                <h2 class="text-muted mx-auto d-block">{{ restaurant.title }}</h2>
                <a href="/restaurant2/{{restaurant.id}}">
                    <img class="img-thumbnail restaurant-img" data-lightbox="image-1"
                     data-title="Restaurant pane" width="100px" height="100px"
                     src="https://b.zmtcdn.com/data/pictures/2/16541542/c7ce3301b7cb36444a0c91694bd554ec.jpg?fit=around|750:500&crop=750:500;*,*">
                </a>
                <p class="text-muted mx-auto d-block">
                    {# ! With apologies to whoever has to witness this GODAWFUL hack ! #}
                    {% if restaurant.allergen_rating == 5 %}
                        Allergen Rating:
                    <span style="color: goldenrod;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </span>
                    {% elif restaurant.allergen_rating == 4 %}
                        Allergen Rating:
                    <span style="color: green;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    {% elif restaurant.allergen_rating == 3 %}
                        Allergen Rating:
                    <span style="color: orange">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    {% elif restaurant.allergen_rating == 2 %}
                        Allergen Rating:
                    <span style="color: orangered;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    {% elif restaurant.allergen_rating == 1 %}
                        Allergen Rating: <span style="color: crimson;"><i class="fa fa-star"></i></span>
                    {% endif %}
                    </p>
                <hr>
            {% endfor %}
        </div></div>
    </div>
</div>

{% endblock %}