{% extends 'baseplate.html' %}

{% block title %} Home - Alleradar {% endblock %}

{% block scriptholder %}
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block main %}
    <h1>Alleradar</h1>
    <p>Use the buttons below to preview a cuisine and the dishes attached to it.</p>
    <small class="text-muted">This will eventually take data from the cuisine listing.</small>
    <div class="row">
        <div class="col text-center">
            <img class="rounded img-thumbnail" src="{{ url_for('static', filename='img/food/indian-food-not-final.jpg') }}">
            <h2 class>Indian cuisine</h2>
            <p>A description of the cuisine follows.</p>
        </div>
        <div class="col text-center">
            <img class="rounded img-thumbnail" src="{{ url_for('static', filename='img/food/thai-food-not-final.jpg') }}">
            <h2 class="text-center">Thai cuisine</h2>
            <p>A description of the cuisine follows.</p>
        </div>
        <div class="col text-center">
            <img class="rounded img-thumbnail" src="{{ url_for('static', filename='img/food/chinese-food-not-final.jpg') }}">
            <h2>Chinese cuisine</h2>
            <p>A description of the cuisine follows.</p>
        </div>
        <div class="col text-center">
            <img class="rounded img-thumbnail" src="{{ url_for('static', filename='img/food/american-food-not-final.jpg') }}">
            <h2>American cuisine</h2>
            <p>A description of the cuisine follows.</p>
        </div>
    </div>
    <div class="row" id="restaurant_location_map">
        <!-- Google Maps container -->
    </div>
{% endblock %}