{% extends 'baseplate.html' %}

{% block title %} {{restaurant.title}} - Alleradar {% endblock %}

{% block main %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/restaurants">Restaurants</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{restaurant.title}}</li>
  </ol>
</nav>

<div class="cuisine-block">
    <h1>{{restaurant.title}}</h1>
    <hr>
    <div class="row">
        <div class="col-sm">
            <p>Allergen Rating: <strong>{{restaurant.allergen_rating}}</strong> stars </p>
            <p class="text-muted font-sm">Ratings explained:
                <ul>
                    <li><img src="https://png.pngitem.com/pimgs/s/426-4268703_star-rating-transparent-background-5-star-rating-transparent.png" height="100"><br>Extremely good, alert and aware</li>
                    <br>
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Star_rating_4_of_5.png" height="50" width="200"><br> Good, but not as great as 5-stars </li>
                    <br>
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/3_stars.svg/1024px-3_stars.svg.png" height="50" width="200"><br> Satisfactory but not 100% careful </li>
                    <br>
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Star_rating_2_of_5.png" height="50" width="200"><br> Very little care/no caution with allergies, be cautious </li>
                    <br>
                    <li><img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Star_rating_1_of_5.png" height="50" width="200"><br> No understanding or care for allergies, <strong><span class="red">avoid!</span></strong></a></li>
                </ul>
            </p>
        </div>
        <div class="col-sm mx-auto rounded text-center">
            <p class="text-muted mx-auto d-block">Menu</p>
        </div>
    </div>
</div>

{% endblock %}